html, body {
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: auto;
}




/* TOP PANEL*/

.top-panel {
	width: 100%;
	height: 25px;
	background-color: #585858;
	border-bottom: 4px solid rgba(0,0,0,0.05);
}

#login-buttons {
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}
.login-link-text {
	color: white;
	font-size: 14px;
}
.login-link-text:hover {
	color: white;
}









/* SIDE BAR MENU PANEL*/

.menu-panel {
	height: 100%;
	width: 10%;
	background-color: #fafafa;
	float: left;
}
.js-menu-button {
	width: 100%;
	background-color: #fafafa;
	border: none;
	padding: 5px;
	font-size: 16px;
	outline: none;
}
.js-menu-button:hover{
	background-color: white;
}
.add-new-topic-button {
	background-color: transparent !important;
	border: none;
	outline: none !important;
}
.add-new-topic-button:active {
	background-color: transparent !important;
	box-shadow: none !important;
	outline: none !important;
}









/*THE MAIN CONTENT*/
.content-panel {
	overflow: auto;
    height: 100%;
    padding-right: 20px;
}

.content {
	width: 100%;
	height: 100%;
}

.one-topic {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 6px;
	width: 100%;
	margin: 10px;
	background-color: #E8F7FF;
}

.one-list-element {
	padding-left: 30px;
}
.one-list-element:hover {
	background-color: #d5dce8;
}

.js-topic-name {
	background-color: Transparent;
	border: none;
	font-size: 22px;
	width: 90%;
	outline: none;
	font-weight: bold;
	padding-left: 10px;
}

.js-list-element {
	background-color: Transparent;
	border: none;
	font-size: 18px;
	width: 100%;
	outline: none;
	border-radius:5px;
}

.js-list-element-content {
	width: 100%;
	background-color: white;
	resize: none;
}




.topic-options-buttons {
	padding-bottom: 10px;
	padding-left: 10px;
}
.js-add-element, .js-delete-topic, .js-enable-element-deletion, .js-refresh-checked-elements, .js-hide-all-elements-content {
	background-color: transparent;
	border: none;
	padding: 0px;
}
.js-add-element, .js-delete-topic, .js-enable-element-deletion, .js-refresh-checked-elements {
	padding-right: 5px;
}
.js-add-element:focus, .js-add-element:active, 
.js-delete-topic:focus, .js-delete-topic:active,  
.js-enable-element-deletion:focus, .js-enable-element-deletion:active,
.js-refresh-checked-elements:focus, .js-refresh-checked-elements:active,
.js-hide-all-elements-content:focus, .js-hide-all-elements-content:active {
	outline: none !important;
	background-color: transparent !important;
}
.js-add-element:hover, 
.js-delete-topic:hover, 
.js-enable-element-deletion:hover,
.js-refresh-checked-elements:hover
.js-hide-all-elements-content:hover {
	text-decoration: underline;
	background-color: transparent !important;
}




.list-options {
	float: left;
	padding-right: 5px;
	padding-top: 5px;
}


.js-delete-list-element {
	background-color: transparent;
	border: none;
	display: none;

}
.js-delete-list-element:focus, .js-delete-list-element:active {
	outline: none !important;
	background-color: transparent !important;
}
.js-delete-list-element:hover {
	background-color: transparent !important;
}


.element-input-fields {
	overflow: hidden;
}


